<!--<div class="panel panel-default">
    <div class="panel-heading">
        <a class="ad-item-add btn btn-default" href="#">Add</a>
        <a class="ad-item-delete btn btn-default" style="float:right" href="#">Delete</a>
    </div>
    <div class="panel-body">
        <div class="well" >Content for opstool-emailNotifications</div>
    </div>
</div>-->
    <!--  Base Portal Page with the [Create Notifications] button:  -->
    <div class="page-wrap mockup-display en-portal">     
      <div class="container-fluid">       
        <div class="col-xs-12 text-right btn-notification-wrap">
          <a  mockup-show="en-wizard" class="btn btn-primary btn-grey en-portal-newNotification">Create Notifications</a>
        </div>
        <div class="col-xs-12">
            <h2>Notification Lists</h2>
          </div>
        <div class="col-lg-8 col-md-9 col-sm-12 notification-list">
          <table class="table-notifications en-table-notifications" cellpadding="0" cellspacing="0" width="100%" data-height="300" data-toggle="table">
              <thead>
                <tr>
                  <th data-field="title" width="40%">List Title</th>
                  <th data-field="updatedAt" width="20%">Last Updated</th>
                  <th width="40%"></th>
                </tr>
              </thead> 
               <tbody>
               <!-- rows.forEach(function(notification){ -->            
              <tr class="template" id="[[=notification.id]]">              
                <td width="30%">[[= notification.attr('notificationTitle') ]]</td>
                <td width="20%">[[= notification.attr('status') ]]</td>
                <td width="20%">[[= new Date(notification.attr('updatedAt')).toDateString() ]]</td>
                <td width="30%" class="text-center tmpl-options">
                  <a href="#" class="btn-modify"  obj-id="[[= notification.id ]]"><i class="fa fa-pencil-square-o"></i><span>Modify</span></a>
                  <a href="#" class="btn-delete"  obj-id="[[= notification.id ]]"><i class="fa fa-trash-o"></i> <span>Delete</span></a>
                </td>
              </tr>
                 <!-- }) -->
              <tr class="mockup">
                <td width="40%"><input type="checkbox" /> Finanace Team</td>
                <td width="20%">1/11/2015</td>
                <td width="40%" class="text-center">
                  <a href="#" class="btn-modify"><i class="fa fa-pencil-square-o"></i> <span>Modify</span></a>
                  <a href="#" class="btn-delete"><i class="fa fa-trash-o"></i> <span>Delete</span></a>
                </td>
              </tr>             
              </tbody>
            </table><!-- /.table-notifications -->
            </div>         
      </div><!-- /.container-fluid -->
    </div><!-- /.page-wrap -->
    <!-- Base Portal Page -->
    
    <!-- Wizard -->
    <div class="mockup-display en-wizard en-formNotification en-formTemplate en-selectDesign en-designConfirm">
      <!-- Nav Bar -->
      <header class="navbar-fixed-top">       
        <nav class="navbar navbar-default">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-header">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a mockup-show="en-wizard" href="#" class="btn-back navbar-brand en-header-back"><i class="fa fa-arrow-left"></i> Back</a>
            </div>
            <div class="collapse navbar-collapse" id="nav-header">
              <ul class="nav navbar-nav">
                <li class="en-wiz-nav" panel="Recipients"><a mockup-show="en-wizard"  href="#">Recipients</a> <i class="fa fa-angle-right push-right"></i></li>
                <li class="active en-wiz-nav" panel="Notifications"><a mockup-show="en-formNotification" href="#">Setup</a> <i class="fa fa-angle-right push-right"></i></li>
                <li class="en-wiz-nav" panel="Templates"><a mockup-show="en-formTemplate" href="#">Templates</a> <i class="fa fa-angle-right push-right"></i></li> 
                <li class="en-wiz-nav" panel="Design"><a mockup-show="en-selectDesign" href="#">Design</a> <i class="fa fa-angle-right push-right"></i></li>  
                <li class="en-wiz-nav" panel="Confirm"><a mockup-show="en-designConfirm" href="#">Confirm</a></li>                  
              </ul>             
            </div><!-- /.navbar-collapse -->
        </nav><!-- /nav -->
      </header><!-- /.header -->
      <!-- End Nav Bar -->

      <!-- Choose The Receipients panel -->
      <div class="page-wrap mockup-display en-wizard en-wizard-recipients">
        <div class="container-fluid">
		  <div class="col-xs-12">
            <h2>Recipient Lists</h2>
          </div>
          <div class="col-lg-5 col-md-5 col-sm-6 form-search">
            <div class="input-group">
              <input type="text" class="form-control en-recipient-search" placeholder="Search Here">
              <span class="input-group-btn">
                <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
              </span>
            </div><!-- /input-group -->
          </div><!-- /.col-lg-6 -->
          <div class="col-lg-8 col-md-9 col-sm-12 recipient-list">
            <a href="#myModal" role="button" class="btn btn-list create-new-list" data-toggle="modal">Create New List</a>
            <div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
						<h4>Create New Recipient List</h4>
                          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                      </div>
                      <div class="modal-body">
                       
							<div class="form-horizontal en-add-recipients-form">
                              <div class="form-group">
                                  <label class="control-label col-md-2 no-pd-right" for="title">List Title:</label>
                                  <div class="col-md-10">
                                    <input type="text" class="form-control" id="title" name="title" maxlength="200" placeholder="Enter List Title">
                                  </div>
                              </div>                        
                              <div class="form-group">
                                  <label class="control-label col-xs-12 text-left label-recipient" for="recipients">Email Recipients:</label>
                                  <div class="col-xs-12">
                                      <textarea rows="6" class="form-control" id="recipients" name="recipients" placeholder="Enter email addressesseprated by a comma (,)"></textarea>
									  <input type="hidden" name="recipient_id" id="recipient_id" value="">	
                                  </div>
                              </div>
                               <div class="form-group block-btn">
									<div class="col-md-12">
										<button type="submit" value="Save" class="btn btn-save en-recipient-list-save" id="save"> Save</button>
										<button type="submit" value="Cancel" class="btn btn-cancel en-recipient-btn-cancel" id="cancel"> Cancel</button>
									</div>
								</div>
                              </div>
                       
                      </div><!-- End of Modal body -->
                    </div><!-- End of Modal content -->
                  </div><!-- End of Modal dialog -->
              </div><!-- End of Modal -->
            <table class="table-notifications en-table-recipients" cellpadding="0" cellspacing="0" width="100%" data-height="300" data-toggle="table">
              <thead>
                <tr>
                  <th data-field="title" width="40%">List Title</th>
                  <th data-field="updatedAt" width="20%">Last Updated</th>
                  <th width="40%"></th>
                </tr>
              </thead> 
               <tbody>
               <!-- rows.forEach(function(recipient){ -->            
              <tr class="template" id="[[= recipient.id]]">              
                <td width="40%">[[= recipient.attr('title') ]]</td>
                <td width="30%">[[= new Date(recipient.attr('updatedAt')).toDateString() ]]</td>
                <td width="30%" class="text-center tmpl-options">
                  <a href="#" class="btn-modify" obj-id="[[=recipient.id]]"><i class="fa fa-pencil-square-o"></i><span>Modify</span></a>
                  <a href="#" class="btn-delete" obj-id="[[=recipient.id]]"><i class="fa fa-trash-o"></i> <span>Delete</span></a>
                </td>
              </tr>
                 <!-- }) -->
              <tr class="mockup">
                <td width="40%"><input type="checkbox" /> Finanace Team</td>
                <td width="20%">1/11/2015</td>
                <td width="40%" class="text-center">
                  <a href="#" class="btn-modify"><i class="fa fa-pencil-square-o"></i> <span>Modify</span></a>
                  <a href="#" class="btn-delete"><i class="fa fa-trash-o"></i> <span>Delete</span></a>
                </td>
              </tr>             
              </tbody>
            </table><!-- /.table-notifications -->
          </div><!-- /.col-xs-12 -->
          <div class="col-lg-8 col-md-9 col-sm-12 text-right btn-wrap btn-wrap-recipient">
            <a mockup-show="en-formNotification" class="btn btn-default btn-black en-wiz-recipients-next">Next <i class="fa fa-arrow-right"></i></a>
          </div><!-- /.col-xs-12 -->
        </div><!-- /.container-fluid -->
      </div><!-- /.page-wrap -->
      <!-- End Choose The Receipients panel -->


      <!-- Form Notification -->
      <div class="page-wrap mockup-display en-formNotification en-wizard-formNotification">
        <div class="container-fluid" id="frmNotification-setup">
          <div class="col-xs-12">
            <h2>Notification Setup</h2>
          </div><!-- /.col-xs-12 -->
          <div class="col-lg-4 col-md-5 col-sm-4 form-notifications">
            <!--<form role="form"> -->
              <div class="form-group">
                <label for="title">Notification Title</label>
                <input type="text" class="form-control" id="notificationTitle" name="notificationTitle" value="[[= data.attr('notificationTitle') ]]">
              </div>
              <div class="form-group">
                <label for="email">Email Subject</label>
                <input type="email" class="form-control" id="emailSubject" name="emailSubject">
              </div>
              <div class="form-group">
                <label for="name">From Name</label>
                <input type="text" class="form-control" id="fromName" name="fromName">
              </div>
              <div class="form-group">
                <label for="email">From Email</label>
                <input type="email" class="form-control" id="fromEmail" name="fromEmail">                
              </div>
           <!-- </form>-->
          </div><!-- /.form-notifications -->
          <div class="col-lg-7 col-md-6 col-sm-8 col-lg-offset-1 col-md-offset-1 form-tab">
            <p><strong>Select how you want to send notifications:</strong></p>          
            <div class="tabbable tabs-left">
              <ul class="nav nav-tabs">
                <li class="active"><a href="#basic" data-toggle="tab">Basic</a></li>
                <li><a href="#system" data-toggle="tab">System</a></li>
              </ul>
              <div class="tab-content">
                <div class="tab-pane active" id="basic">
                  <div class="tab-inner">
                    <h3 class="text-center">Basic</h3>
                    <div class="form-group">
                      <div class="col-lg-3 col-sm-5 col-md-4">
                        <label>Start from:*</label>
                      </div>
                      <div class="input-group date col-lg-6 col-md-5 col-sm-7" id="startFrom" >
                        <input type='text' class="form-control" id="dateStartFrom" name="startFrom" />
                        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="col-lg-3 col-sm-5 col-md-4">
                        <label>Repeat every:</label>
                      </div>
                      <div class="input-group date col-lg-6 col-md-5 col-sm-7 col-xs-12">
                        <select name="emailFrequency" id="emailFrequency" class="form-control">
                          <option value="Everyday">Everyday</option>
                          <option value="Monthly">Monthly</option>
                          <option value="Yearly">Yearly</option>
                        </select>
                      </div>
                    </div>                 
                    <div class="form-group">
					  <div class="col-lg-3 col-sm-5 col-md-4">
							<label>Repeat until:</label>
						</div>
						<div class="input-group date col-lg-6 col-md-5 col-sm-7" id="repeatUntil">
						   <input type='text' class="form-control" name="repeatUntil" id="dateRepeatUntil" />
						   <div class="form-control" id="no-date" style="display:none;">&nbsp;</div>
						   <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
						</div>
						<div class="block-never-end">
						   <input type='checkbox' name="neverEnd" id="neverEnd" /> Never End
						</div>
					 </div>
                    <div class="form-bottom">
                      <p>The Notification will be sent <span id="basic-settings"><a href="#">Everyday</a> from <span>1/12/2015</span> to <span>6/12/2015</span></span></p>
                      <a mockup-show="en-formTemplate" class="btn btn-default btn-black en-wiz-notifications-next">Next <i class="fa fa-arrow-right"></i></a>
                    </div><!-- /.form-bottom -->
                  </div><!-- /.tab-inner -->
                </div><!-- /.tab-pane -->
                <div class="tab-pane" id="system">
                  <div class="tab-inner tab-inner-system">
                    <h3 class="text-center">System</h3>
                    <div class="form-group">
                      <div class="input-group date col-lg-11 col-md-11 col-sm-11 col-lg-offset-1">
                        Select the event you want to use to trigger the notification being sent:
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="input-group date col-lg-8 col-md-10 col-sm-10 col-lg-offset-1 col-xs-12">
                        <select class="form-control">
                          <option>13 Month Report Completed</option>
                        </select>
                      </div>
                    </div>
                    <div class="form-bottom">
                      <p>You are sending 13 month report</p>
                      <a mockup-show="en-formTemplate" class="btn btn-default btn-black en-wiz-notifications-system-next">Next <i class="fa fa-arrow-right"></i></a>
                    </div><!-- /.form-bottom -->
                  </div><!-- /.tab-inner -->
                </div><!-- /.tab-pane -->
              </div><!-- /.tab-content -->
            </div><!-- /.tabs-left -->
          </div><!-- /.form-tab -->
        </div><!-- /.container-fluid -->
      </div><!-- /.page-wrap -->
      <!-- End Form Notification -->
      
      <!-- Form Template -->
      <div class="page-wrap mockup-display en-formTemplate en-wizard-formTemplate">
			<div class="container-fluid">
				<div class="col-xs-12">
					<h2>Select a Template</h2>
				</div><!-- /.col-xs-12 -->
				<div class="col-lg-3 col-md-4 col-sm-5">
					<div class="panel-shadow text-center">
						<img src="/images/img-one-column-layout.png" alt="One Column Layout" />
						<h3>One Column</h3>
						<div class="panel-footer">
							<a mockup-show="en-selectDesign" class="btn btn-default btn-black en-wiz-select-template-next">Select</a>
						</div><!-- /.panel-footer -->
					</div>
				</div><!-- /.form-notifications -->
			</div><!-- /.container-fluid -->
		</div><!-- /.page-wrap -->
      <!-- End Form Template -->
      
      <!-- Template Design -->
      <div class="page-wrap mockup-display en-selectDesign en-wizard-selectDesign">
		<div class="container-fluid" id="frmDesign-setup">
			<div class="col-xs-12">
				<h2>Design a Template</h2>
			</div><!-- /.col-xs-12 -->
			<div class="col-lg-4 col-md-5 col-sm-4 form-wrapper">
				<!--<form role="form">-->
					<div class="form-group">
						<label for="title">Template Title</label>
						<input type="text" class="form-control" id="title" name="templateTitle">
					</div>						
				<!--</form>-->
			</div><!-- /.form-notifications -->
			<div class="col-lg-7 col-md-7 col-sm-8 col-lg-offset-1">
				<div class="textarea-section">
					<span>HTML</span>
					<div class="inner-text-box">
						<h4>Enter Your Text</h4>
						<textarea name="templateBody" id="templateBody"></textarea>							
					</div><!-- /.inner-text-box -->
					<div class="text-right">
						<a mockup-show="en-designConfirm" class="btn btn-default btn-black en-wiz-design-template-next">
							Next <i class="fa fa-arrow-right"></i>
						</a>
					</div><!-- /.text-right -->
				</div><!-- /.textarea-section -->
			</div><!-- /.form-tab -->
		</div><!-- /.container-fluid -->
	  </div><!-- /.page-wrap -->
      <!-- End Template Design -->
      
      <!-- Design Confirm -->
      <div class="page-wrap mockup-display en-designConfirm en-wizard-designConfirm">
		<div class="container-fluid">
			<div class="col-xs-12">
				<h2>Confirm Notification</h2>
			</div>
			<div class="col-lg-5 col-md-5 col-sm-12 block-confirm-notification">
				<p><strong>Please recheck the notification details:</strong></p>
				<ul>
					<li><strong>[[= numRecipients]] Recipients</strong> are selected</li>
					<li>Subject is "<strong>[[= notification.notificationSubject]]</strong>"</li>
					<li>Sending conditions based on "<strong>[[=notification.setupShortDesc]]</strong>"</li>
					<li>Template selected is "<strong>[[= notification.selectedTemplate]]</strong>"</li>
					<li>HTML text is given using the "<strong>[[= notification.templateType]]</strong>" Design</li>
				</ul>
			</div>
			<div class="col-lg-6 col-md-7 col-sm-12 col-lg-offset-1 textarea-confirm">
				<p><strong>This is the preview of the notification you are sending:</strong></p>
				<div class="textarea-section">						
					<div class="inner-text-box">
						<p class="subject-text"><em>Subject:</em> <strong>[[=notification.templateSubject]]</strong></p>
						<div class="confirm-box">[[=notification.templateBody]]</div>							
					</div>
					<div class="text-right confirm-bottom">
						<p>Please confirm your Notification</p>
						<a class="btn btn-default btn-black en-wiz-draft" obj-id="[[=notification.id]]">
							Draft <i class="fa fa-check"></i>
						</a>
						<a class="btn btn-confirm en-wiz-confirm" obj-id="[[=notification.id]]">
							<i class="fa fa-check"></i> Confirm
						</a>
					</div>
				</div>
			</div>
		</div>
	  </div>
      <!-- End Design Confirm -->
    </div>
    <!-- End Wizard -->
<!-- End HTML Mockup -->
 </div>
